<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% extends "base.html" %}
        <title>{% block title %}Последние обновления на сайте{% endblock %}</title>
    </head>
    <body>
        {% block content %}
            <div class="container">
            {% include "menu.html" with index=True %}
            <h1 class="text-center"> Последние обновления на сайте</h1>
            {% for post in page %}
                {% include "post_item.html" with post=post %}
            {% endfor %}
            {% if page.has_other_pages %}
                {% include "paginator.html" with items=page paginator=paginator %}
            {% endif %}
            </div>
        {% endblock %}
    </body>
</html>